.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

.header {
    display: flex;
    flex-direction: column;
}

.header-item {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
}

.player-container {
    width: 50%;
    border-top: 1px solid black;
}