$column-round-width: var(--column-round-width, 200px);

.split-tree {
  //Make grid template definition here for left and right and winner spots
  //   display: grid;
  //   grid-template: "left-player winner-area right-player" 1fr / auto 200px auto;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr auto 1fr;
  gap: 10px;
  align-items: center;

  .left-tree {
    justify-self: end;
    --grid-template: "left-player winner-area" 1fr "right-player winner-area"
      1fr / auto #{$column-round-width};
    --justify-items: end;
  }

  .right-tree {
    justify-self: start;
    --grid-template: "winner-area left-player" 1fr "winner-area right-player"
      1fr / #{$column-round-width} auto;
    --justify-items: start;
  }

  .winner {
    justify-self: center;
  }
}
