<div class="bracket">
    <!-- player 1 -->
    <div class="bracket-item">
        <!-- player icon -->
        <img src="" alt="" class="logo">

        <!-- player name -->
        <p>{{matchPlayers[0].name}}</p>
        <p class="name">player 1</p>

        <!-- player score -->
        <p class="score">6</p>
    </div>
    <!-- player 2 -->
    <div class="bracket-item">
        <!-- player icon -->
        <img src="" alt="" class="logo">

        <!-- player name -->
        <p>{{matchPlayers[0].name}}</p>
        <p class="name">player 2</p>

        <!-- player score -->
        <p class="score">9</p>
    </div>
</div>
